html {height: auto!important; min-height:100%;*height:100%; }
body { background-color: #1b2445; margin:0px;  padding:0px; font-family: "Microsoft Yahei","微软雅黑",STXihei,"华文细黑",Hei,"黑体",sans-serif; background-size:cover;height: auto!important; min-height:100%; *height:100%;
    /* Webkit: Safari 4-5, Chrome 1-9 */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2e3d6d), to(#1b2445));     
    /* Webkit: Safari 5.1+, Chrome 10+ */ 
    background: -webkit-linear-gradient(top, #2e3d6d, #1b2445);   
    /* Firefox 3.6+ */ 
    background: -moz-linear-gradient(top, #2e3d6d, #1b2445);     
    /* Opera 11.10+ */ 
    background: -o-linear-gradient(top, #2e3d6d, #1b2445);       
    /* IE 10 */ 
    background: -ms-linear-gradient(top, #2e3d6d, #1b2445);       
    /* IE < 10 */    
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#2e3d6d,endColorStr=#1b2445);     
   /* CSS3 标准 */
    background: linear-gradient(#2e3d6d, #1b2445);
    }
a {text-decoration:none; cursor:pointer;}
.content{ width:880px; margin:0 auto; padding:0; clear:both;}
.clear { clear:both;}
/* --------|  Clear Fix |--------- */
.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}/* Hide from IE Mac */
html[xmlns] .clearfix{display:block;}/* End hide from IE Mac */
* html .clearfix{height:0; }

/* 头部 */
#tongda{ width:100%; height:36px; padding-bottom:12px; line-height:50px; overflow:hidden; margin:25px auto; border-bottom:solid 1px #53618e; background:url(../img/tongda.png) no-repeat; text-align:right;}
.headSelected{font-size:16px; color:White; margin:0 10px 0 33px; float:right; display:inline;z-index:2; background:url(../img/top_tab_select.png) no-repeat  0 46px;}
.headtop{font-size:16px; color:#567eb6; margin:0 10px 0 33px;float:right; display:inline; }


/* logo标题 */
.logoArea{ width:880px; margin:0 auto; padding:0; clear:both;text-align:center;}
#logo{ width:100%; height:80px; line-height:50px; overflow:hidden; margin:25px auto;background:url(../img/logo.png) no-repeat  ;}


/* 下载区 */
.loginArea{float:left; margin-top:80px; color:#d0e3ff; margin-left:90px; display:inline; text-align:right;}
.Title { font-size:36px; line-height:36px; margin-top:10px;}
.version { font-size:20px;}
.downButton{ margin-left:84px; background:url(../img/v7/download_button.png); width:167px; height:46px; margin-top:30px; margin-bottom:30px;}
.setupQA{  cursor:pointer; width:150px; background:url(../img/v7/icon1.png) no-repeat 0 3px; margin-left:101px; font-size:16px; }
.address{ cursor:pointer; width:195px; background:url(../img/v7/icon2.png) no-repeat 0 3px;font-size:16px; margin-left:56px; margin-top:10px; }
.setupQA a{color:#d0e3ff;}
.address a{color:#d0e3ff;}
.downButton a{width:167px; height:46px; display:block;}

form .input_wrapper {
width: 219px;
height: 64px;
background: url('../img/input.png') 0 11px no-repeat;
border-width: 0;
margin: 0 0 0 -13px;
position: relative;
text-align:left;
}

form .input_wrapper label {
	width: 176px;
	height: 40px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	margin: 12px 0 0 11px;
	padding: 1px 10px 0 10px;
	color: #869cb2;
	font-size: 20px;
	font-family: "Microsoft Yahei",'黑体',Arial, 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 40px;
	
}

form .input_wrapper input,form .input_wrapper .ghostwriter_input {
	width: 176px;
	color: #293d7d;
	font-size: 20px;
	font-family: "Microsoft Yahei",'黑体',Arial, 'Helvetica Neue', Helvetica, sans-serif;
	border-width: 0;

	margin: 12px 0 0 11px;
	padding: 8px 10px 8px 10px;
	cursor: pointer;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0
}

form .input_wrapper input,form .input_wrapper .ghostwriter_input {
	width: 176px;
	color: #293d7d;
	font-size: 20px;
	font-family: "Microsoft Yahei",'黑体',Arial, 'Helvetica Neue', Helvetica, sans-serif;
	border-width: 0;
	background: url('../img/x.gif');
	margin: 12px 0 0 11px;
	padding: 8px 10px 8px 10px;
	cursor: pointer;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0
}
form div.error {
	background-position: left -283px
}
form .error label{
	color: #992926;
}
button.submit{
	width: 197px;
	color: white;
	font-size: 18px;
	font-family: "Microsoft Yahei",'黑体',Arial, 'Helvetica Neue', Helvetica, sans-serif;

	
	background: #3692FF url('../img/login_btn.png')
		no-repeat right 0;
	border: 1px solid #2a3f56;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(255, 255, 255, 0.7) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(255, 255, 255, 0.7) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
		rgba(255, 255, 255, 0.7) inset;
	margin: 12px 0 0 0px;
	padding: 1px 45px 0 15px;
	cursor: pointer;
	display: block;
	position: relative;
	float: left;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	height: 42px;
	opacity: .9;
	white-space: nowrap
}



/* 图片滑动区 */
.container { float:left; width: 528px; height: 403px; background:url(../img/show_bg.png) no-repeat -35px 0; overflow: hidden; padding: 13px 0 0; margin: 0; position: relative; display:block; }
#slides { display: none; -webkit-font-smoothing: antialiased; }
#slides .slidesjs-navigation { margin-top: 3px; }
#slides .slidesjs-previous { margin-right: 5px; float: left; }
#slides .slidesjs-next { margin-right: 5px; float: left; }
.slidesjs-pagination { position: absolute; left:330px; top: 370px; height:10px; overflow:hidden; list-style: none; z-index: 10; }
.slidesjs-pagination li { float: left; margin: 0 6px; z-index: 1001;  clear:none; width:auto;}
.slidesjs-pagination li a { display: block; width: 10px; height: 10px; padding-top:10px; background-image: url(../img/pagination.png); background-position: 0 0; float: left; overflow: hidden; }
.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active { background-position: 0 -10px; }
.slidesjs-pagination li a:hover { background-position: 0 -20px; }
#slides a:link, #slides a:visited { color: #333; }
#slides a:hover, #slides a:active { color: #9e2020; }
.navbar { overflow: hidden; }


/* 弹出框 */
.message_box{font-size:14px;  display:block; overflow:hidden; position:absolute; margin-left:-347px; background:url(../img/v7/popup_bg.png) no-repeat; left:50%; top:200px; width:693px; height:332px;z-index:12; visibility:hidden}
.message_box .m_header{line-height:44px; height:44px; font-size:20px; color:White; text-indent:14px; float:left; width:300px; clear:both;}
.message_box .m_close { width:44px; height:44px;  float:right;  cursor:pointer;background:url(../img/v7/close_button.png);}
.message_box .m_content { width:620px; height:222px; margin:80px 36px 36px; overflow:hidden;}
.message_box .m_guide { width:339px; height:222px;float:left; border-right:solid 1px #C4C4C4; }
.message_box .m_down { width:250px; height:222px;float:left; padding-left:25px; }
.message_box .m_title { color:#305693;font-size:24px;  margin-bottom:15px;}
.message_box .m_text { color:#305693; margin-top:15px; line-height:28px; margin-bottom:15px;}
.message_box .m_text a{ color:#0074c5; text-decoration:underline; margin:0;}
.message_box .m_btn { width:154px; height:46px; background:url(../img/v7/exe_button.png); cursor:pointer;  margin-top:11px; margin-bottom:15px;}
.message_box .m_below { line-height:65px; height:65px; color: #C7D9F1;}
.message_box .m_table {  width:100%; color:#305693; line-height:28px; margin-bottom:15px;}
.message_box .m_table td{ width:33%; }
.message_box .m_table a{ color:#0074c5; text-decoration:none; margin:0;}
#mask{position: absolute; top:0; left:0; z-index: 11;height: 100%;width: 100%; visibility:hidden;background-color:rgb(0, 0, 0); filter:Alpha(opacity=30);opacity:0.3;}


.memo{ height:60px;text-align:left;color:#e3eefe;}
.pTitle { font-size:30px; line-height:55px;}
.pBody { font-size:14px; color:#b8d5ff; line-height:38px;}
.title_split{ background:url(../img/v7/title_split.png) no-repeat 50% 0; z-index:2; margin:10px auto; width:100%; height:38px; position:relative; }
.scroll-arrow {position:absolute; top: 0px; right:48%; width:50px; height:42px;}
.zTitle{ font-size:24px; color:#DDECFE; text-align:center; line-height:30px; clear:both;}
.zBody { font-size:16px; color:#e3eefe; line-height:20px;}
.step{ width:340px;  font-weight:bold; font-size:18px; color:#e3eefe; line-height:28px;}
li{ width:340px; font-size:14px; color:#b8d5ff; line-height:33px; list-style:none; clear:both;}
.loginIcon { width:70px; height:87px; margin:50px auto;}
.wxts {background:url(../img/v7/wxts.png) no-repeat 50% 0; z-index:2; margin:60px auto; width:100%; height:38px; position:relative;}
