<component name="ArtifactManager">
  <artifact type="war" name="springmvc-yc:war">
    <output-path>$PROJECT_DIR$/springmvcyc/target</output-path>
    <root id="archive" name="springmvc-com.shuyang.sys.yc.war">
      <element id="artifact" artifact-name="springmvc-yc:war exploded" />
    </root>
  </artifact>
</component>