#container {
    color: #838383;
    font-size: 12px;
}

#uploader .queueList {
    margin: 20px 0; 
    border: 3px dashed #e6e6e6;
}
#uploader .queueList.filled {
    padding: 17px;
    margin: 0;
    border: 3px dashed transparent;
}
#uploader .queueList.webuploader-dnd-over {
    border: 3px dashed #999999;
}

#uploader p {margin: 0;}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}

#uploader .placeholder {
    min-height: 350px;
    padding-top: 178px;
    text-align: center;
    background: url(img/image.png) center 93px no-repeat;
    color: #cccccc;
    font-size: 18px;
    position: relative;
}

#uploader .placeholder .webuploader-pick {
    font-size: 18px;
    background: #00b7ee;
    border-radius: 3px;
    line-height: 44px;
    padding: 0 30px;
    *width: 120px;
    color: #fff;
    display: inline-block;
    margin: 0 auto 20px auto;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#uploader .placeholder .webuploader-pick-hover {
    background: #00a2d4;
}

#uploader .placeholder .flashTip {
    color: #666666;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
}
#uploader .placeholder .flashTip a {
    color: #0785d1;
    text-decoration: none;
}
#uploader .placeholder .flashTip a:hover {
    text-decoration: underline;
}

#uploader .filelist {
    list-style: none;
    margin: 0;
    padding: 0;
}

#uploader .filelist:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

#uploader .filelist li {
    width: 110px;
    height: 110px;
    background: url(img/bg.png) no-repeat;
    text-align: center;
    margin: 0 8px 20px 0;
    position: relative;
    display: inline;
    float: left;
    overflow: hidden;
    font-size: 12px;
}

#uploader .filelist li p.log {
    position: relative;
    top: -45px;
}

#uploader .filelist li p.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    top: 5px;
    text-indent: 5px;
    text-align: left;
}

#uploader .filelist li p.progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 8px;
    overflow: hidden;
    z-index: 50;
    margin: 0;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: 0 0 0;
}
#uploader .filelist li p.progress span {
    display: none;
    overflow: hidden;
    width: 0;
    height: 100%;
    background: #1483d8 url(img/progress.png) repeat-x;

    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;

    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;

    -webkit-transform: translateZ(0);
}

@-webkit-keyframes progressmove {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 17px 0;
    }
}
@-moz-keyframes progressmove {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 17px 0;
    }
}
@keyframes progressmove {
    0% {
       background-position: 0 0;
    }
    100% { 
       background-position: 17px 0;
    }
}

#uploader .filelist li div.imgWrap {
    position: relative;
    z-index: 2;
    line-height: 110px;
    vertical-align: middle;
    overflow: hidden;
    width: 110px;
    height: 110px;

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    -webit-transition: 200ms ease-out;
    -moz-transition: 200ms ease-out;
    -o-transition: 200ms ease-out;
    -ms-transition: 200ms ease-out;
    transition: 200ms ease-out;
}

#uploader .filelist li img {
    width: 100%;
}

#uploader .filelist li p.error {
    background: #f43838;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 28px;
    line-height: 28px;
    width: 100%;
    z-index: 100;
}

#uploader .filelist li .success {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 200;
    background: url(img/success.png) no-repeat right bottom;
}

#uploader .filelist div.file-panel {
    position: absolute;
    height: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000')\0;
    background: rgba( 0, 0, 0, 0.5 );
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 300;
}

#uploader .filelist div.file-panel span {
    width: 24px;
    height: 24px;
    display: inline;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    background: url(img/icons.png) no-repeat;
    margin: 5px 1px 1px;
    cursor: pointer;
}

#uploader .filelist div.file-panel span.rotateLeft {
    background-position: 0 -24px;
}
#uploader .filelist div.file-panel span.rotateLeft:hover {
    background-position: 0 0;
}

#uploader .filelist div.file-panel span.rotateRight {
    background-position: -24px -24px;
}
#uploader .filelist div.file-panel span.rotateRight:hover {
    background-position: -24px 0;
}

#uploader .filelist div.file-panel span.cancel {
    background-position: -48px -24px;
}
#uploader .filelist div.file-panel span.cancel:hover {
    background-position: -48px 0;
}

#uploader .statusBar {
    height: 63px;
    border-top: 1px solid #dadada;
    padding: 0 20px;
    line-height: 63px;
    vertical-align: middle;
    position: relative;
}

#uploader .statusBar .progress {
    border: 1px solid #1483d8;
    width: 198px;
    background: #fff;
    height: 18px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #6dbfff;
    position: relative;
    margin: 0 10px 0 0;
}
#uploader .statusBar .progress span.percentage {
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #1483d8;
    position: absolute;
}
#uploader .statusBar .progress span.text {
    position: relative;
    z-index: 10;
}

#uploader .statusBar .info {
    display: inline-block;
    font-size: 14px;
    color: #666666;
}

#uploader .statusBar .btns {
    position: absolute;
    top: 10px;
    right: 20px;
    line-height: 40px;
}

#filePicker2 {
    display: inline-block;
    float: left;
}

#uploader .statusBar .btns .webuploader-pick,
#uploader .statusBar .btns .uploadBtn,
#uploader .statusBar .btns .uploadBtn.state-uploading,
#uploader .statusBar .btns .uploadBtn.state-paused {
    background: #ffffff;
    border: 1px solid #cfcfcf;
    color: #565656;
    padding: 0 18px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    float: left;
}
#uploader .statusBar .btns .webuploader-pick-hover,
#uploader .statusBar .btns .uploadBtn:hover,
#uploader .statusBar .btns .uploadBtn.state-uploading:hover,
#uploader .statusBar .btns .uploadBtn.state-paused:hover {
    background: #f0f0f0;
}

#uploader .statusBar .btns .uploadBtn {
    background: #00b7ee;
    color: #fff;
    border-color: transparent;
}
#uploader .statusBar .btns .uploadBtn:hover {
    background: #00a2d4;
}

#uploader .statusBar .btns .uploadBtn.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.ui-thumbview p{
	word-break: break-all;
    font-size: 10px;
}
/* ui-thumbview 视图 */
.ui-thumbview .filetype{
   
    width:64px;
    height:64px;
    overflow:hidden;
}
.ui-thumbview .dirs,
.ui-thumbview .files{
    padding: 4px 0 0 4px;
}
.ui-thumbview .hide{display:none;}
.disk-view-thumb .filetype,
.ui-thumbview .filetype{
    background-image:url(img/file.png);
}
.ui-thumbview .icon-folder,.ui-thumbview .ico-folder{background-position:0px 2px}/**/
.ui-thumbview .icon-mail,.ui-thumbview .ico-mail{background-position:-114px 2px;}/**/
.ui-thumbview .icon-offline,.ui-thumbview .ico-offline{background-position:-228px 2px;}/**/
.ui-thumbview .icon-weixin-dir,.ui-thumbview .ico-weixin-dir{background-position:-342px 2px;}/**/
.ui-thumbview .icon-xfdownload,.ui-thumbview .ico-xfdownload{background-position:-456px 2px;}/**/
.ui-thumbview .icon-weixin-news,.ui-thumbview .ico-weixin-news{background-position:-570px 2px;}/**/
.ui-thumbview .icon-doc,.ui-thumbview .ico-doc{background-position:1px -114px}
.ui-thumbview .icon-docx,.ui-thumbview .ico-docx{background-position:-114px -114px}/*20131217 new*/
.ui-thumbview .icon-vsd,.ui-thumbview .ico-vsd{background-position:-228px -114px}
.ui-thumbview .icon-wps,.ui-thumbview .ico-wps{background-position:-342px -114px}/*20131217 new*/
.ui-thumbview .icon-ppt,.ui-thumbview .ico-ppt{background-position:-456px -114px}
.ui-thumbview .icon-pptx,.ui-thumbview .ico-pptx{background-position:-570px -114px}/*20131217 new*/
.ui-thumbview .icon-dps,.ui-thumbview .ico-dps{background-position:-684px -114px}/*20131217 new*/
.ui-thumbview .icon-msg,.ui-thumbview .ico-msg{background-position:-798px -114px}
.ui-thumbview .icon-xls,.ui-thumbview .ico-xls{background-position:-912px -114px}
.ui-thumbview .icon-xlsx,.ui-thumbview .ico-xlsx{background-position:-1026px -114px}/*20131217 new*/
.ui-thumbview .icon-et,.ui-thumbview .ico-et{background-position:-1140px -114px}/*20131217 new*/
.ui-thumbview .icon-pdf,.ui-thumbview .ico-pdf{background-position:1px -228px}
.ui-thumbview .icon-txt,.ui-thumbview .ico-txt{background-position:-114px -228px}
.ui-thumbview .icon-key,.ui-thumbview .ico-key{background-position:-228px -228px}/*20131217 new*/
.ui-thumbview .icon-rp,.ui-thumbview .ico-rp{background-position:-342px -228px}
.ui-thumbview .icon-numbers,.ui-thumbview .ico-numbers{background-position:-456px -228px}/*20131217 new*/
.ui-thumbview .icon-pages,.ui-thumbview .ico-pages{background-position:-570px -228px}/*20131217 new*/
.ui-thumbview .icon-keynote,.ui-thumbview .ico-keynote{background-position:-684px -228px}/*20131217 new*/
.ui-thumbview .icon-jpg,.ui-thumbview .ico-jpg{background-position:1px -342px}
.ui-thumbview .icon-jpeg,.ui-thumbview .ico-jpeg{background-position:-114px -342px}
.ui-thumbview .icon-png,.ui-thumbview .ico-png{background-position:-228px -342px}
.ui-thumbview .icon-gif,.ui-thumbview .ico-gif{background-position:-342px -342px}
.ui-thumbview .icon-bmp,.ui-thumbview .ico-bmp{background-position:-456px -342px}
.ui-thumbview .icon-psd,.ui-thumbview .ico-psd{background-position:-570px -342px}
.ui-thumbview .icon-ai,.ui-thumbview .ico-ai{background-position:-684px -342px}
.ui-thumbview .icon-eps,.ui-thumbview .ico-eps{background-position:-798px -342px}
.ui-thumbview .icon-avi,.ui-thumbview .ico-avi{background-position:1px -456px}
.ui-thumbview .icon-asf,.ui-thumbview .ico-asf{background-position:-114px -456px}
.ui-thumbview .icon-mp4,.ui-thumbview .ico-mp4{background-position:-228px -456px}
.ui-thumbview .icon-mkv,.ui-thumbview .ico-mkv{background-position:-342px -456px}/*20131217 new*/
.ui-thumbview .icon-mov,.ui-thumbview .ico-mov{background-position:-456px -456px}
.ui-thumbview .icon-mod,.ui-thumbview .ico-mod{background-position:-570px -456px}
.ui-thumbview .icon-mpe,.ui-thumbview .ico-mpe{background-position:-684px -456px}
.ui-thumbview .icon-3gp,.ui-thumbview .ico-3gp{background-position:-798px -456px}
.ui-thumbview .icon-rmvb,.ui-thumbview .ico-rmvb{background-position:-912px -456px}
.ui-thumbview .icon-wmv,.ui-thumbview .ico-wmv{background-position:-1026px -456px}
.ui-thumbview .icon-wmf,.ui-thumbview .ico-wmf{background-position:-1140px -456px}
.ui-thumbview .icon-mpg,.ui-thumbview .ico-mpg{background-position:-1254px -456px}/*20131217 new*/
.ui-thumbview .icon-mpeg,.ui-thumbview .ico-mpeg{background-position:-1368px -456px}/*20131217 new*/
.ui-thumbview .icon-rm,.ui-thumbview .ico-rm{background-position:1px -570px}
.ui-thumbview .icon-dat,.ui-thumbview .ico-dat{background-position:-114px -570px}/*20131217 new*/
.ui-thumbview .icon-f4a,.ui-thumbview .ico-f4a{background-position:-228px -570px}/*20131217 new*/
.ui-thumbview .icon-webm,.ui-thumbview .ico-webm{background-position:-342px -570px}/*20131217 new*/
.ui-thumbview .icon-swf,.ui-thumbview .ico-swf{background-position:-456px -570px}
.ui-thumbview .icon-flv,.ui-thumbview .ico-flv{background-position:-570px -570px}
.ui-thumbview .icon-fla,.ui-thumbview .ico-fla{background-position:-684px -570px}
.ui-thumbview .icon-mp3,.ui-thumbview .ico-mp3{background-position:1px -684px}
.ui-thumbview .icon-wma,.ui-thumbview .ico-wma{background-position:-114px -684px}
.ui-thumbview .icon-wav,.ui-thumbview .ico-wav{background-position:-228px -684px}
.ui-thumbview .icon-ogg,.ui-thumbview .ico-ogg{background-position:-342px -684px}/*20131217 new*/
.ui-thumbview .icon-acc,.ui-thumbview .ico-acc{background-position:-456px -684px}/*20131217 new*/
.ui-thumbview .icon-m4a,.ui-thumbview .ico-m4a{background-position:-570px -684px}/*20131217 new*/
.ui-thumbview .icon-wave,.ui-thumbview .ico-wave{background-position:-684px -684px}/*20131217 new*/
.ui-thumbview .icon-midi,.ui-thumbview .ico-midi{background-position:-798px -684px}/*20131217 new*/
.ui-thumbview .icon-ape,.ui-thumbview .ico-ape{background-position:-912px -684px}/*20131217 new*/
.ui-thumbview .icon-aac,.ui-thumbview .ico-aac{background-position:-1026px -684px}/*20131217 new*/
.ui-thumbview .icon-aiff,.ui-thumbview .ico-aiff{background-position:-1140px -684px}/*20131217 new*/
.ui-thumbview .icon-mid,.ui-thumbview .ico-mid{background-position:-1254px -684px}/*20131217 new*/
.ui-thumbview .icon-xmf,.ui-thumbview .ico-xmf{background-position:-1368px -684px}/*20131217 new*/
.ui-thumbview .icon-rtttl,.ui-thumbview .ico-rtttl{background-position:-1482px -684px}/*20131217 new*/
.ui-thumbview .icon-flac,.ui-thumbview .ico-flac{background-position:1px -798px}/*20131217 new*/
.ui-thumbview .icon-amr,.ui-thumbview .ico-amr{background-position:-114px -798px}/*20131217 new*/
.ui-thumbview .icon-ipa,.ui-thumbview .ico-ipa{background-position:1px -912px}
.ui-thumbview .icon-apk,.ui-thumbview .ico-apk{background-position:-114px -912px}
.ui-thumbview .icon-exe,.ui-thumbview .ico-exe{background-position:-228px -912px}
.ui-thumbview .icon-msi,.ui-thumbview .ico-msi{background-position:-342px -912px}
.ui-thumbview .icon-bat,.ui-thumbview .ico-bat{background-position:-456px -912px}
.ui-thumbview .icon-log,.ui-thumbview .ico-log{background-position:-570px -912px}
.ui-thumbview .icon-xmin,.ui-thumbview .ico-xmin{background-position:-684px -912px}
.ui-thumbview .icon-htm,.ui-thumbview .ico-htm{background-position:-798px -912px}
.ui-thumbview .icon-html,.ui-thumbview .ico-html{background-position:-912px -912px}
.ui-thumbview .icon-c,.ui-thumbview .ico-c{background-position:-1026px -912px}
.ui-thumbview .icon-xml,.ui-thumbview .ico-xml{background-position:-1140px -912px}
.ui-thumbview .icon-asp,.ui-thumbview .ico-asp{background-position:1px -1026px}
.ui-thumbview .icon-chm,.ui-thumbview .ico-chm{background-position:-114px -1026px}
.ui-thumbview .icon-hlp,.ui-thumbview .ico-hlp{background-position:-228px -1026px}
.ui-thumbview .icon-ttf,.ui-thumbview .ico-ttf{background-position:-342px -1026px}
.ui-thumbview .icon-ttc,.ui-thumbview .ico-ttc{background-position:-456px -1026px}/*20131217 add*/
.ui-thumbview .icon-otf,.ui-thumbview .ico-otf{background-position:-570px -1026px}
.ui-thumbview .icon-fon,.ui-thumbview .ico-fon{background-position:-684px -1026px}/*20131217 add*/
.ui-thumbview .icon-bak,.ui-thumbview .ico-bak{background-position:-798px -1026px}
.ui-thumbview .icon-tmp,.ui-thumbview .ico-tmp{background-position:-912px -1026px}
.ui-thumbview .icon-old,.ui-thumbview .ico-old{background-position:-1026px -1026px}
.ui-thumbview .icon-zip,.ui-thumbview .ico-zip{background-position:1px -1140px}
.ui-thumbview .icon-7z,.ui-thumbview .ico-7z{background-position:-114px -1140px}
.ui-thumbview .icon-rar,.ui-thumbview .ico-rar{background-position:-228px -1140px}
.ui-thumbview .icon-iso,.ui-thumbview .ico-iso{background-position:-342px -1140px}
.ui-thumbview .icon-ace,.ui-thumbview .ico-ace{background-position:-456px -1140px}
.ui-thumbview .icon-cab,.ui-thumbview .ico-cab{background-position:-570px -1140px}
.ui-thumbview .icon-uue,.ui-thumbview .ico-uue{background-position:-684px -1140px}
.ui-thumbview .icon-jar,.ui-thumbview .ico-jar{background-position:-798px -1140px}
.ui-thumbview .icon-tar,.ui-thumbview .ico-tar{background-position:-912px -1140px}
.ui-thumbview .icon-dmg,.ui-thumbview .ico-dmg{background-position:-1026px -1140px}/*20131217 add*/
.ui-thumbview .icon-note,.ui-thumbview .ico-note{background-position:-456px -1253px}/*20170730 add*/
.ui-thumbview .icon-document,.ui-thumbview .ico-document,
.ui-thumbview .icon-exec,.ui-thumbview .ico-exec,
.ui-thumbview .icon-code,.ui-thumbview .ico-code,
.ui-thumbview .icon-image,.ui-thumbview .ico-image,
.ui-thumbview .icon-video,.ui-thumbview .ico-video,
.ui-thumbview .icon-compress,.ui-thumbview .ico-compress,
.ui-thumbview .icon-link,.ui-thumbview .ico-link,
.ui-thumbview .icon-unknow,.ui-thumbview .ico-unknow,.ui-thumbview .icon-file,.ui-thumbview .ico-file{background-position:-228px -1254px}
.ui-thumbview .icon-filebroken,.ui-thumbview .ico-filebroken{background-position:-342px -1254px}
.disk-view-thumb .mod_datalist_hd,
.ui-thumbview .mod_datalist_hd{display:none;}
.ui-thumbview .default{background: none}
.ui-listview .default{background: none}