@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    /*content:none;*/
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Base
---------------------------------------------------------------------*/

body {
	font-family: "Microsoft Yahei","宋体", Arial,sans-serif;
	line-height:1.5;
	font-size:12px;
	background-color:#F2F2F2;
	color:#666;
	margin:0 auto;
}
a {
	outline:none;
}
h1,h2,h3,h4,h5,h6 {
	color:#4D5762;
	position:relative;
	word-spacing:-0.1em;
}
h4,h5,h6 {
	font-weight:bold;
}
h1,h2 {
	line-height:28px;
	margin-bottom:18px;
}
h1,h2,h3,h4,h5 {
	margin-top:18px;
}
h3,h4,h5,h6 {
	line-height:18px;
	margin-bottom:10px;
}
h1 {
	font-size:28px;
}
h2 {
	font-size:21px;
}
h3 {
	font-size:18px;
}
h4 {
	font-size:16px;
}
h5 {
	font-size:14px;
}
h6 {
	font-size:12px;
}
b,strong,caption,th,thead,dt,legend {
	font-weight:bold;
}
cite,dfn,em,i {
	font-style: italic;
}
code,kbd,samp,pre,tt,var,.code {
	/*font-family:"Consolas","Courier New",Courier,mono;*/
	font-family:Monaco,"Panic Sans","Lucida Console","Courier New",Courier,monospace,sans-serif;
}
.code {
	background-color:#EAEFF4;
	color:#069;
	overflow:auto;
	padding:2px 6px;
}
.code span {
	color:#E9584C;
}
p {
	word-spacing:0.125em;
	hyphenate:auto;
	hyphenate-lines:3;
	margin-top:1em;
}
p+p {
}
pre {
	white-space:pre;
}
del {
	text-decoration:line-through;
}
mark {
	background:rgba(255,255,0,0.4);
	padding:0 .25em;
}
ins {
	color:#f00;
}
small,sup,sub {
	font-size:90%;
}
big,.big {
	font-size:120% !important;
	line-height:120%;
}
abbr,acronym {
	font-size:85%;
	text-transform:uppercase;
	letter-spacing:.1em;
}
abbr[title],acronym[title],dfn[title] {
	border-bottom:1px dotted #ccc;
	cursor:help;
}
sup,sub {
	line-height:0;
}
sup {
	vertical-align:super;
}
sub {
	vertical-align:sub;
}
blockquote,q {
	display:block;
	font-style:normal;
	quotes:"" "";
	background:url("img/quote.png") no-repeat scroll 0 8px transparent;
	display:block;
	font-size:14px;
	min-height:42px;
	line-height:24px;
	padding:0 0 0 20px;
	color:#666;
	font-family:Georgia,"Times New Roman",Times,serif;
	margin:1em 0;
}
q cite {
	display:block;
	font-size:12px;
	color:#999;
}
hr {
	border:none;
	background:#ddd;
	width:100%;
}
ul,ol {
	padding-left:1.5em; /* Good browsers style ul elements like this https://developer.mozilla.org/en/Consistent%5FList%5FIndentation */
}
ul {
	list-style:disc outside;
}
ol {
	list-style:decimal outside;
}
ol ol li {
	list-style-type:lower-alpha;
}
ul,ol,dl,dialog {
	margin-top:1em;
	margin-bottom:1em;
}
li ul,li ol,ul ul,ol ol,dl dd {
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
}
button {
	cursor:pointer;
}

/* this totally confuses IE7 with IE8.js included ?!
table {
	font: inherit;
} 
*/

/* html 5 specific */
article,aside,header,hgroup,nav,section,footer {
	float:left;
	display:block;
}
figure {
	display: block;
}

video {
	display: block; /* styling shim for older browsers */
	border: 5px #aaa solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
/* Layout
---------------------------------------------------------------------*/

.hidden { 
	display: none; 
}
.hidden-accessible {
	position: absolute;
	left: -99999999px;
}

.reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none; 
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden; 
}
.clearfix { 
	display: inline-block; 
}
/* clearfix in Opera \*/
* html .clearfix { 
	height: 1%; 
}
.clearfix { 
	display: block; 
}
/* end clearfix */
.zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	-khtml-opacity: 0;
	-moz-opacity: 0;
}
/* Wrappers & headers
---------------------------------------------------------------------*/

.wrapper, .wrapper-login {
	margin:0 auto;
	text-align:left;
	width: 990px;
	position:relative;
}
.wrapper-login {
	width: 360px;
}

div#top {
	background-color: #282828;
	width:100%;
	background:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, rgb(39,38,34)),
		color-stop(0.8, rgb(50,50,50))
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(39,38,34) 20%,
		rgb(50,50,50) 80%
	);
	
	
}

div#top #aside {
	float:right;
	color:#999;
	margin-top:12px;
	font-size:90%
}
div#top #aside a{
	color:#2A7AD2;
	padding:0;
	text-decoration:none;
}

/* Top navigation
---------------------------------------------------------------------*/

#topnav {
	color:#999;
	padding:6px 0 6px 10px;
	position:absolute;
	right:0;
	top:0;
	white-space:nowrap;
	font-size:12px;
	text-align:right;
}
#topnav span {
	color:#444;
}
#topnav a {
	color:#2A7AD2;
	padding:0;
	text-decoration:none;
}
#topnav a.high {
	color:#FFC806;
	text-decoration:none;
}
#topnav a:hover, div#top #aside a:hover,
#topnav a:focus, div#top #aside a:focus,
#topnav a:active, div#top #aside a:active {
	color:#fff;
	text-decoration:none;
}
#topnav small {
	color:#666;
	font-size:11px;
	text-align:right;
}
#topnav img.avatar {
	background:#fff;
	float:right;
	margin:5px 0 0 8px;
	padding:4px;
}
#topnav img.weather {
	float:right;
	margin:1px 0 1px 10px;
}
div#weatherInfo{
	margin: 0  90px 0 0;
	padding: 15px 0 0 0;
}
/* Main menu
---------------------------------------------------------------------*/

.sf-menu,.sf-menu * {
	margin:0;
	padding:0;
	list-style:none;
	
}
.sf-menu {
	line-height:1.0;
}
.sf-menu ul {
	position:absolute;
	top:-999em;
	width:12em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:100%;
}
.sf-menu li:hover {
	visibility:inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:left;
	position:relative;
}
.sf-menu a {
	display:block;
	position: relative;
}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {
	left:0;
	top:2.5em; /* match top ul list item height */
	z-index:99;
}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {
	left:12em; /* match ul width */
	top:0;
}
ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul {
	left:12em; /* match ul width */
	top:0;
}

/*** menu skin ***/

.sf-menu {
	float:left;
	font-size: 12px;
	font-family: "Microsoft Yahei","宋体", Arial
}
.sf-menu a {
	padding:.75em 1em;
	text-decoration:none;
}
.sf-menu ul a {
	border-bottom: 1px solid #333;
}
.sf-menu a,.sf-menu a:visited {
	/* visited pseudo selector so IE6 applies text colour*/
	color:#eee;
}
.sf-menu li {
	background:#444;
	margin-right:2px;
}
.sf-menu>li {
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
}
.sf-menu li li {
	background:#444;
}
.sf-menu li li li {
	background:#444;
}
.sf-menu li:hover,.sf-menu li.sfHover,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active {
	background:#555;
	outline:0;
}
.sf-menu>li:hover,.sf-menu>li.sfHover,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active {
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
}
.sf-menu li.current {
	background: #266DBB;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right:2.25em;
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:absolute;
	display:block;
	right:.75em;
	top:1.05em; /* IE6 only */
	width:10px;
	height:10px;
	text-indent:-999em;
	overflow:hidden;
	background:url('img/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a>.sf-sub-indicator { /* give all except IE6 the correct values */
	top:.8em;
	background-position:0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus>.sf-sub-indicator,a:hover>.sf-sub-indicator,a:active>.sf-sub-indicator,li:hover>a>.sf-sub-indicator,li.sfHover>a>.sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}
/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
	background-position:-10px 0;
}
.sf-menu ul a>.sf-sub-indicator {
	background-position: 0 0;
}
/* apply hovers to modern browsers */
.sf-menu ul a:focus>.sf-sub-indicator,.sf-menu ul a:hover>.sf-sub-indicator,.sf-menu ul a:active>.sf-sub-indicator,.sf-menu ul li:hover>a>.sf-sub-indicator,.sf-menu ul li.sfHover>a>.sf-sub-indicator {
	background-position: -10px 0;
	/* arrow hovers for modern browsers*/
}
/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:url('img/shadow.png') no-repeat bottom right;
	padding:0 8px 9px 0;
	-moz-border-radius-bottomleft:17px;
	-moz-border-radius-topright:17px;
	-webkit-border-top-right-radius:17px;
	-webkit-border-bottom-left-radius:17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
/* Page title
---------------------------------------------------------------------*/

#title {
	color:#FFF;
	font:bold 2.4em/26px 'Trebuchet MS',Trebuchet,Arial,sans-serif;
	letter-spacing:-0.02em;
	padding:20px 0 22px;
	text-shadow:1px 1px 3px #111;
}
#title span {
	color: #FFC806; 
}

#pagetitle {
	background-color:#5D9ADF;
	border-top:4px solid #266DBB;
	border-bottom:1px solid #2A7AD2;
	float:left;
	width:100%;
	background: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.2, rgb(80,146,220)),
	color-stop(0.8, rgb(107,163,226))
	);
	background: -moz-linear-gradient(
	center bottom,
	rgb(80,146,220) 20%,
	rgb(107,163,226) 80%
	);
}
#pagetitle h1 {
	color:#fff;
	font-size:1.6em;
	padding:12px 0;
	text-shadow:0 -1px 1px #2A7AD2;
	margin:0;
	top:0;
	line-height:1.2em;
	float:left;
}
#pagetitle h1 span {
	color:#C4E3FF;
}
#pagetitle input {
	border:2px solid #5D9ADF;
	color:#666;
	float:right;
	line-height:18px;
	margin:10px 0 0;
	padding:4px 24px 4px 4px;
	vertical-align:middle;
	width:202px;
	background:#fff url("img/search.gif") no-repeat 99% 56%;
	-moz-box-shadow:0 0;
	-webkit-box-shadow:0 0;
	box-shadow:0 0;
}
#pagetitle input:focus {
	border:2px solid #266DBB;
	-webkit-focus-ring-color: none;
}

#page {
	float:left;
	width:100%;
	background-color:#FFF;
}

#page a {
	color: #329ECC;
	text-decoration:none;
	border-bottom:1px solid #A1CFD4;
}
#page a:hover, #page a:focus, #page a:active {
	background-color:#E2EFFF;
	border-bottom:1px solid #329ECC;
}

#page .subtitle {
	text-transform:uppercase;
	color:#93BB3A;
	font-size:9px;
	font-family: Tahoma, Arial, sans-serif;
}

/*layout
---------------------------------------------------------------------*/
.content{
	margin:0 auto !important;
	width: 990px !important;
}
.fixed{
position:fixed;
left:0; right:0; top:0; bottom:0;
z-index:9999;
background:url('img/opacitygray.png') repeat;
}

/* Form 
---------------------------------------------------------------------*/
.col1 {
	float: left;
	width: 88%;
}

.col2 {
	float: left;
	width: 44%;
}

.col3 {
	float: left;
	width: 30%;
}

.form_btn {
	height: 30px;
	text-align: center;
}

.form_item {
	margin: 10px 10px 0px 20px;
}

.form_item input[type="text"] {
	/**width: 150px;*/
}

.form_item label {
	display: inline-block;
	_display: inline;
	_zoom: 1;
	width: 80px;
}

.form_item form {
	display: inline-block;
	_display: inline;
	_zoom: 1;
	margin: 0;
}

.form_item .red {
	color: red;
}
.red {
	color: red;
}
.pathinfo{
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
	text-overflow: ellipsis;
}


/**fieldset*/
fieldset {
    padding:0px 10px 10px 10px;
    margin:10px 0 ;
   

    color:#333; 
    border:#aaa dashed  1px;
} 
legend {
    color:#0E2D5F;
    font-weight:800; 
    padding:3px 6px;
    margin:10px 30px 10px 0 ;
}

hr{
 height:0px;border:none;
 border-top:1px solid #DDD;
 border-bottom:1px solid #FFF;
}
.line{
	color: #BBBBBB;
}
.easyui-validatebox,.my-input{
	border: #DDD solid 1px;
	padding: 2px 4px;
	font-size: 12px;
}


.msgInfo{
      color:#395A7B;
	  font-family:"微软雅黑","黑体";
	  text-align:center;
    }
.msgInfo h1{
	  font-size:120px;
	  font-weight:bold;
	  padding:60px 0 30px 0;
	}
.msgInfo dt{
	  font-size:40px;
	  font-weight:bold;
	  line-height:40px;
	  padding:20px 0 20px 0;
	  
}
.msgInfo dd{
	 font-size:14px;
}
span.spbtn {
	 cursor:hand;
	 cursor:pointer;
	 color:blue;
}