<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuyang.sys.domain.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.shuyang.sys.domain.Menu" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="menu_name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="menu_order" property="menuOrder" jdbcType="INTEGER" />
    <result column="parent_id" property="pid" jdbcType="INTEGER" />
    <result column="checked" property="checked" jdbcType="VARCHAR" />
    <result column="apply_date" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="apply_user" property="applyUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, menu_name, url,icon, menu_order, parent_id, checked
  </sql>
  <select id="listMenuByParentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_SYS_MENU
    where parent_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="listAllMenus" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from T_SYS_MENU
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_SYS_MENU
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertMenu" parameterType="Menu" >
    insert into T_SYS_MENU (ID, menu_name, url, icon,
      menu_order, parent_id, checked,apply_user
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},#{icon,jdbcType=VARCHAR},
      #{menuOrder,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{checked,jdbcType=VARCHAR},#{checked,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shuyang.sys.domain.Menu" >
    update T_SYS_MENU
    <set >
      <if test="name != null" >
        menu_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="menuOrder != null" >
        menu_order = #{menuOrder,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        parent_id = #{pid,jdbcType=INTEGER},
      </if>
      <if test="checked != null" >
        checked = #{checked,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shuyang.sys.domain.Menu" >
    update T_SYS_MENU
    set menu_name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      menu_order = #{menuOrder,jdbcType=INTEGER},
      parent_id = #{pid,jdbcType=INTEGER},
      checked = #{checked,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>




  <select id="listAuthUrls" resultType="com.shuyang.sys.component.pojo.UrlAuth">
    SELECT a.url,c.authority FROM t_sys_menu a, t_sys_menu_auth b,t_sys_authority c
    WHERE a.id=b.menu_id AND b.auth_id=c.id
  </select>

</mapper>